@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.edi {
    font-family: 'Permanent Marker', cursive;
}

#coracao{
    margin-top: 50px;
    display: none;
    font-size: 30px;
    font-weight: 800;
}
.timer{
    width: 15vw;
    background-color: rgb(20, 33, 44);
    border-radius:25px;
    display: flex;
    font-size : 2em; 
    color: #15ddc2;
    justify-content: center;
    margin: 5px;
}

body {
    height: 90vh;
    width: 90vw;
    display: flex;
    background-color: #000000;
    color: #fff;
}

p {
    margin-left: 34px;
}

canvas {
    margin-left: 52px;
    margin-top: 25px;
}

.insted {
    color: #15ddc2;
    font-size: 28px;
    font-weight: bold;
}

.nomes {
    color: #ffffff;
    font-size: 27px;
    font-weight: bold;
    background-color: #00a38d;
    border-radius: 12px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 15px;
    margin-top: 25;
    margin-left: 34;
    font-family: 'Arial', sans-serif;
}

footer a {
    text-decoration: none;
    color: #fff;
}